<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/fontawesome.css" />
    <link rel="stylesheet" href="../static/css/styles.css" />
    <title>Loruki | Cloud Hosting for Everyone</title>
  </head>
  <body>
    <!-- Navbar -->
    <div class="navbar">
      <div class="container flex">
        <h1 class="logo">Loruki</h1>
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/features">Features</a></li>
            <li><a href="/docs" class="active">Docs</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <!-- Head -->
    <section class="docs-head background-primary padding-y-3">
      <div class="container grid">
        <div>
          <h1 class="extra-large">Docs</h1>
          <p class="lead">Learn how to work with the Loruki platform.</p>
        </div>
        <img src="images/docs.png" alt="" />
      </div>
    </section>
    <!-- Docs main -->
    <section class="docs-main margin-y-4">
      <div class="container grid">
        <div class="card background-light padding-3">
          <h3 class="margin-y-2">ESsentials</h3>
          <nav>
            <ul>
              <li><a href="#" class="text-primary">Introduction</a></li>
              <li><a href="#">About Loruki</a></li>
              <li><a href="#">Installation</a></li>
            </ul>
          </nav>
          <h3 class="margin-y-2">Deployment</h3>
          <nav>
            <ul>
              <li><a href="#">Setting up a container</a></li>
              <li><a href="#">USing the CLI</a></li>
              <li><a href="#">Managing resources</a></li>
              <li><a href="#">Upgrade & Downgrade</a></li>
            </ul>
          </nav>
        </div>
        <div class="card">
          <h2>Introuction</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque
            quo eligendi sint perferendis, omnis eaque aliquid quae architecto
            temporibus enim, consectetur error fugiat autem neque labore alias
            reiciendis, eveniet doloribus.
          </p>
          <div class="alert alert-success">
            <i class="fas fa-info"></i> Lorem ipsum, dolor sit amet consectetur
            adipisicing elit. Facilis, eveniet?
          </div>
          <h3>Lorem, ipsum dolor.</h3>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et,
            aspernatur sequi. Beatae nostrum enim, quaerat voluptatem veritatis
            hic nesciunt minus.
          </p>
          <a href="#" class="btn btn-primary">Install CLI</a>
          <h3>Requirements</h3>
          <ul>
            <li>Windows 10, MAc OS, Linux</li>
            <li>Node.js v12 or higher</li>
          </ul>
          <h3>Installation</h3>
          <p>Mac (Homebrew)</p>
          <pre><code>$ brew install loruki-cli</code></pre>
          <p>NPM</p>
          <pre><code>$ npm install loruki-cli</code></pre>
          <p>Yarn</p>
          <pre><code>$ yarn install loruki-cli</code></pre>
        </div>
      </div>
    </section>
    <!-- Footer -->
    <footer class="footer background-dark padding-y-5">
      <div class="container grid grid-3">
        <div>
          <h1>Loruki</h1>
          <p>Copyright &copy; 2021</p>
        </div>
        <nav>
          <ul>
            <l1><a href="/">Home</a></l1>
            <l1><a href="/features">Features</a></l1>
            <l1><a href="/docs">Docs</a></l1>
          </ul>
        </nav>
        <div class="social">
          <a href="#"><i class="fab fa-github fa-2x"></i></a>
          <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
          <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
          <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
        </div>
      </div>
    </footer>
  </body>
</html>
